//Fonts
$fonts: 'Century Gothic';
$arial: Arial, sans-serif;
$font-size-base: 14px;

//Colors
$primary: rgba(49, 44, 40, 1);
$white: #fff;
$black: #000;
$light-grey: rgba(102,102,102,.2);
$medium-grey: rgb(153, 153, 153);
