.booking-form {
	.wpcf7 {
		padding: 25px 0;
		label {
			display: flex;
		    flex-direction: column;
		    align-items: flex-start;
			font-family: $arial;
			span, input {
				width: 100%;
				margin-top: 3px;
			}
			.exmpl-time {
				text-align: left;
				font-size: 12px;
				font-family: $fonts;
				color: $medium-grey;
			}
			input, textarea {
				width: 100%;
				border: 1px solid $light-grey;
				border-radius: 5px;
				padding: 8.5px;
			}
			textarea {
				resize: none;
			}
		}
		input[type="submit"] {
			border: none;
    		outline: none;
    		background-color: $primary;
    		color: $white;
    		text-transform: capitalize;
		}
		.screen-reader-response {
			display: none;
		}
		.wpcf7-not-valid {
			border: 1px solid rgba(255,0,0,.5);
		}
		.wpcf7-not-valid-tip {
			color: rgba(255,0,0,.5);
			font-size: 13px;
		}
	}
}