<nav id="nav-below" class="navigation" role="navigation">
	<div class="nav-previous">{{function('previous_post_link', '%link',  '<span class="meta-nav">&larr;</span> %title')}}</div>
	<div class="nav-next">{{function('next_post_link', '%link',  '%title <span class="meta-nav">&larr;</span>')}}</div>
</nav>